@{
	ViewData["Title"] = "Home Page";
}

<div class="form-group">
	<h1 class="display-4">Welcome</h1>
	<div class="form-group">
		<ul class="list-group" id="messageList">
		</ul>
	</div>
	<input class="form-control" type="text" name="messageInput" id="messageInput" /><button class="btn btn-primary mb-2" name="messageSubmit" id="messageSubmit">Envoyer</button>
</div>

@section scripts{
	<script src="~/lib/@@aspnet/signalr/dist/browser/signalr.js"></script>
	<script src="~/js/msgpack5.js"></script>
	<script src="~/js/signalr-protocol-msgpack.js"></script>
	<script src="~/js/Messenger.js"></script>
}